
<div class="wrapper-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card card-new-task text-center">
          <%= render "tasks/form", locals: {task: @task} %>
        </div>
        <% if Task.all.count > 5 %>
            <h5>You're doing good ! </h5>
        <% end %>

        <h5>Taches effectuées : <%= done_tasks.count %> </h5>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card mini">
              <h5 class="text-center">Vous avez <%= Task.all.count %> taches en cours </h5>
        </div>

        <% @tasks.each do |t| %>
          <div class="task-card d-flex justify-content-start">
            <div class="task-card-status">
              <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </div>
            <div class="task-card-name d-flex justify-content-center">
              <%= t.name %>
            </div>
            <div class="task-card-controls ml-auto p-2 ">
              <ul>
              <%= link_to markit_url(t), method: :put do %>
                <% if t.done %>
                    <i class="fa fa-check-circle red " aria-hidden="true"></i>
                    You Did It
                <% else %>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                <% end %>
              <% end %>
                <%= link_to task_path(t.id), method: :delete, data: { confirm: 'Vraiment ?' } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>



