
<div class="wrapper-white" id="wrapper-bamboo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="card card-new-task text-center">
          <%= render "tasks/form", locals: {task: @task} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-dashboard blue-background">
          <p> <%= DateTime.current.strftime("%m/%d/%Y") %> - <%= DateTime.current.strftime("%HH%M") %></p>
          <div id="my_city_weather">
            <div id="current_weather">
                  Il fait <%= my_city_weather %>°C <br>
             <ul>
               <li>minimale : <%= min_arg %>°C</li>
               <li>maximale : <%= max_arg %>°C</li>
             </ul>

            <% if "#{my_city_weather}".to_i < 10 %>
              <div id="weather_react">
               Brrr ... ca caille, couvre toi bien !
              </div>
            <% end %>
            </div>
          </div>
          <div id="worldweather">
            <p>Dakar : <%= dakar_temp %> °C</p>
            <p>Varsovie : <%= wwa_temp %> °C</p>
            <p>Fort-de-France : <%= fdf_temp %> °C</p>
          </div>
          <div class="time-visualize-icon">
            <% if time_greeting === "Bonne nuit" %>
              <i class="fa fa-moon-o" aria-hidden="true"></i>
              <% elsif time_greeting === "Bonjour" %>
              <i class="fa fa-sun-o fa-2x" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="card-dashboard red-background" id="stats-wiki">
          <p><%= done_tasks.count %> tâches effectuées</p>
          <p> <%= completed_tasks_percentage %> % de taches effectuées</p>
        </div>
        <div id="dunnit">
          <% done_tasks.each do |dt| %>
          <div class="task-card d-flex justify-content-start">
            <div class="task-card-status">
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </div>
            <div class="task-card-name d-flex justify-content-center">
              <%= dt.name %>
            </div>
            <div class="task-card-controls ml-auto p-2 ">
              <ul>
                <%= link_to task_path(dt.id), method: :delete, data: { confirm: 'Vraiment ?' } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card-dashboard blue-background">
          <h5><%= react_to_workload %> </h5>
          <p>
            <% if ongoing_tasks.length > 1 %>
              <%= ongoing_tasks.length %>
              tâches en cours
            <% elsif ongoing_tasks.length == 1 %>
              1 tâche en cours
            <% else %>
              <%= "Nib" %>
            <% end %>
          </p>
        </div>
        <% ongoing_tasks.each do |t| %>
          <div class="task-card d-flex justify-content-start">
<!--             <div class="task-card-status">
              <i class="fa fa-spinner" aria-hidden="true"></i>
            </div> -->
            <div class="task-card-name d-flex justify-content-center">
              <%= t.name %>
            </div>
            <div class="task-card-controls ml-auto p-2 ">
              <ul>
              <%= link_to markit_url(t), method: :put do %>
                <% if t.done %>
                    <i class="fa fa-check-circle red " aria-hidden="true"></i>
                <% else %>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                <% end %>
              <% end %>
                <%= link_to task_path(t.id), method: :delete, data: { confirm: 'Vraiment ?' } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





