
<div class="wrapper-white" id="wrapper-bamboo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-dashboard card-time">
          <div class="time-visualize-icon">
            <% if time_greeting === "Bonne nuit" %>
              <i class="fa fa-moon-o" aria-hidden="true"></i>
              <% elsif time_greeting === "Bonjour" %>
              <i class="fa fa-sun-o fa-2x" aria-hidden="true"></i>
            <% end %>
          </div>
          <%= l(Time.now) %>
          <p> <%= t(DateTime.current.strftime("%A %d/%m/%Y")) %>
          <br> Heure locale: <%= Time.now.strftime("%HH%M") %></p>
        </div>
        <div class="card-dashboard card-weather">
          <div id="local-weather">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
           <!--  <% argenteuil["name"]%> -->
           <h5 class="inline">Argenteuil </h5>
           <div class="local-weather-icon inline">
            <%= image_tag("http://openweathermap.org/img/w/#{argenteuil["weather"][0]["icon"]}.png") %>
           </div>
            <ul id="local-weather-metrics">
              <li>Humidité: <%= argenteuil["main"]["humidity"] %>%</li>
              <li>Vent: <%= argenteuil["wind"]["speed"].to_i %>Km/h</li>
              <li><%= argenteuil["main"]["temp_max"] %>°C</li>
              <li> <i class="fa fa-globe" aria-hidden="true"></i></li>
            </ul>

          </div>
          <div id="worldweather">

            <ul>
              <li>Dakar : <%= dakar_temp %> °C <%= image_tag("http://openweathermap.org/img/w/#{dakar["weather"][0]["icon"]}.png") %></li>
              <li>Varsovie : <%= wwa_temp %> °C <%= image_tag("http://openweathermap.org/img/w/#{varsovie["weather"][0]["icon"]}.png") %></li>
              <li>Fort-de-France : <%= fdf_temp %> °C <%= image_tag("http://openweathermap.org/img/w/#{fdf["weather"][0]["icon"]}.png") %></li>
               <li>Montreal : <%= montreal_temp %> °C <%= image_tag("http://openweathermap.org/img/w/#{montreal["weather"][0]["icon"]}.png") %></li>
               <li>Beijing : <%= beijing_temp %> °C <%= image_tag("http://openweathermap.org/img/w/#{beijing["weather"][0]["icon"]}.png") %></li>
            </ul>
          </div>

        </div>
        <div class="card-dashboard" id="stats-wiki">
          <h5>VALIDEES</h5>
          <ul>
            <li><p><%= done_tasks.count %> tâches validées</p></li>
            <li><p><%= completed_tasks_percentage %> %</p></li>
          </ul>


        </div>
        <div id="dunnit">
          <% done_tasks.each do |dt| %>
          <div class="task-card d-flex justify-content-start">
            <div class="task-card-status">
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </div>
            <div class="task-card-name d-flex justify-content-center">
              <%= dt.name %>
            </div>
            <div class="task-card-controls ml-auto p-2 ">
              <ul>
                <%= link_to task_path(dt.id), method: :delete, data: { confirm: 'Vraiment ?' } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">

        <div class="card card-new-task text-center">
          <%= render "tasks/form", locals: {task: @task} %>
        </div>
        <div class="card-dashboard " id="ongoing-tasks-wiki">
          <h5>EN COURS</h5>
          <h5>
            <% if ongoing_tasks.length > 1 %>
              <%= ongoing_tasks.length %>
              tâches en cours
            <% elsif ongoing_tasks.length == 1 %>
              1 tâche en cours
            <% else %>
              <%= "Il n'y aucune tache dans la liste" %>
            <% end %>
          </h5>
            <p>Maxime du jour : <%= react_to_workload %> </p>
        </div>
        <% ongoing_tasks.each do |t| %>
          <div class="task-card d-flex justify-content-start">
            <div class="task-card-name d-flex justify-content-center">
              <%= t.name %> <br>
              Echeance <%= t.deadline %> - Priorité :

              <% if t.priority === 0 %>
                Basse
              <% elsif t.priority === 1 %>
                Moyenne
              <% else %>
                Haute
              <% end %>

              <br>  Date de création : <%= (t.created_at).strftime("%d/%m") %>
            </div>
            <div class="task-card-controls ml-auto p-2 ">
              <ul>
              <%= link_to markit_url(t), method: :put do %>
                <% if t.done %>
                    <i class="fa fa-check-circle red " aria-hidden="true"></i>
                <% else %>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                <% end %>
              <% end %>
                <%= link_to task_path(t.id), method: :delete, data: { confirm: 'Vraiment ?' } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





